# Nestjs
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Env Vars
.env
.env.development
.env.test
.env.production

# Temp
.temp
.tmp

# Terraform
.terraform
.terraform.lock.hcl
.terraformrc
terraform.rc

# Generated
schema.gql
src/alliance/alliance.entity.ts
src/alliance/alliance.field.resolver.ts
src/alliance/alliance.loader.ts
src/alliance/alliance.resolver.ts
src/alliance/alliance.service.ts
src/alliance/alliance.type.ts
src/character/alliance.creator.resolver.ts
src/character/character.entity.ts
src/character/character.field.resolver.ts
src/character/character.loader.ts
src/character/character.resolver.ts
src/character/character.service.ts
src/character/character.type.ts
src/character/corporation.ceo.resolver.ts
src/character/corporation.creator.resolver.ts
src/corporation/alliance.corporations.resolver.ts
src/corporation/alliance.creator-corporation.resolver.ts
src/corporation/alliance.executor-corporation.resolver.ts
src/corporation/corporation.entity.ts
src/corporation/corporation.field.resolver.ts
src/corporation/corporation.loader.ts
src/corporation/corporation.resolver.ts
src/corporation/corporation.service.ts
src/corporation/corporation.type.ts
src/group/group.entity.ts
src/group/group.field.resolver.ts
src/group/group.loader.ts
src/group/group.resolver.ts
src/group/group.service.ts
src/group/group.type.ts