# Nestjs
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Env Vars
.env
.env.development
.env.test
.env.production

# Temp
.temp
.tmp

# Generated
schema.gql
src/alliance/alliance.entity.ts
src/alliance/alliance.service.ts
src/alliance/alliance.loader.ts
src/alliance/alliance.type.ts
src/alliance/alliance.resolver.ts
src/alliance/alliance.field.resolver.ts
src/corporation/corporation.entity.ts
src/corporation/corporation.service.ts
src/corporation/corporation.loader.ts
src/corporation/corporation.type.ts
src/corporation/corporation.resolver.ts
src/corporation/corporation.field.resolver.ts