# Nestjs
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Env Vars
.env
.env.development
.env.test
.env.production

# Temp
.temp
.tmp

# Terraform
.terraform
.terraform.lock.hcl
.terraformrc
terraform.rc

# Generated
schema.gql
